<div class="row">
    <h2>Why We're the Best</h2>
    <div class="card-group">
        <div class="card">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Accommodation</h5>
                <p class="card-text">
                    We offer the finest selection of top notch hotels anywhere!
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Transportation</h5>
                <p class="card-text">
                    Whether it's about air tickets or shuttle bus, we will set it up!
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Seasoned Agents</h5>
                <p class="card-text">
                    Combined the experience our agents have is centuries!
                </p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Easy Trip Planning</h5>
                <p class="card-text">
                    Our travel agents are always ready to plan your perfect trip!
                </p>
            </div>
        </div>
    </div>
</div>